<div class="row">
 
  <small class="pull-right" id="profile-container"></small>
  <div>
    <div id="sign-in-container"></div>
    <div id="signed-in-container">
      <ul class="nav nav-tabs" id="top-nav">
        <li class="buttons">
          <div class="btn-group">
            <a href="#" class="btn" id="add-list-button"><i class="glyphicon glyphicon-plus"></i></a>
            <a href="#" class="btn" id="edit-list-button"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn delete-list" id="delete-list-button"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="#" class="btn clear-complete"><i class="glyphicon glyphicon-ok-circle"></i> <span class="hide-tiny">Clear Complete</span></a>
          </div>
        </li>
      </ul>
      <div id="content-container">
        <div id="list-editor"></div>
        <div id="tasks-container"></div>
      </div>
    </div>
  </div>
</div>
 
