<div class="span6">
  <div id="add-task">
    <form class="well row form-inline add-task">
      <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input type="text" class="pull-left form-control" placeholder="Enter a new task's title and press return" name="title">
        <button type="submit" class="pull-right btn"><i class="glyphicon glyphicon-plus"></i></button>
      </div>
    </form>
  </div>
  <ul id="task-list"></ul>
</div>
<div class="span6">
  <div id="selected-task"></div>
  <div class="alert" id="warning-no-task-selected">
    <strong>Note:</strong> Select a task to edit or delete it.
  </div>
</div>
